# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
.env/
.env
ENV/
env/

# Environment variable files
.env

# Log files
*.log

# macOS
.DS_Store

# IDE directories
.vscode/
.idea/
